<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Roxio</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Toast 11 Titanium</string>
	<key>installed_size</key>
	<integer>922188</integer>
	<key>installer_item_hash</key>
	<string>a36f2b6634e4ea2efc740d4bc6ce74d7b00d1a3472d80c2122a7e63397d7d427</string>
	<key>installer_item_location</key>
	<string>Roxio/Toast/11/Toast_11_Titanium_1104(710).dmg</string>
	<key>installer_item_size</key>
	<integer>389330</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Toast</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>6588</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Allegro.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10456</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Allegro(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5212</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Arabesque.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7996</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Arabesque(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7208</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Balloons.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>16172</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Balloons(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10452</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Bulletin.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>21364</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Bulletin(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8044</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Cobblestone.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>15632</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Cobblestone(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7364</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Colors.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>15264</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Colors(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4688</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Cut.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6444</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Cut(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>115020</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.DiscCover3RE.pkg</string>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12136</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11.DiskCatalogMaker.pkg</string>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13340</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.GetBackup2RE.pkg</string>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5072</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Giftwrap.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7152</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Giftwrap(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8340</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Graffiti.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>15840</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Graffiti(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6332</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Green.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12464</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Green(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7744</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Highway.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>16392</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Highway(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>31240</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Mac2Tivo.pkg</string>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6492</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Mystic.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10520</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Mystic(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9060</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Notebook.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>17180</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Notebook(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7560</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Passport.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>16104</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Passport(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4920</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Retro.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7396</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Retro(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5540</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Reunion.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14712</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Reunion(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5688</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Rhythm.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11524</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Rhythm(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5576</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Roses.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9232</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Roses(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9848</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Satin.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>19632</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Satin(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12160</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Shavings.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>23032</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Shavings(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8444</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.SpinDoctor.pkg</string>
			<key>version</key>
			<string>11.0.1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6316</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Spotlights.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>12248</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Spotlights(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4812</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.TiVoTransfer.pkg</string>
			<key>version</key>
			<string>11.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.postflight.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>231660</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.ToastTitanium.pkg</string>
			<key>version</key>
			<string>11.0.4</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>11804</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Turf.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>17280</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Turf(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4884</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Tyke.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7416</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Tyke(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8716</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Warp.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>18476</integer>
			<key>packageid</key>
			<string>com.roxio.toast.toast11Titanium.Warp(16x9).pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.0.4</string>
</dict>
</plist>
