<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Grame</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>MidiShare</string>
	<key>installed_size</key>
	<integer>7268</integer>
	<key>installer_item_hash</key>
	<string>fec2f7a95c48bfdf9d6b11dd9f1d704859d2711c4ed2189525be0b5f948ee587</string>
	<key>installer_item_location</key>
	<string>Grame/MidiShare/1.93/MidiShare-1.93.dmg</string>
	<key>installer_item_size</key>
	<integer>5096</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>MidiShare</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleName</key>
	    <string>msControler</string>
	    <key>CFBundleShortVersionString</key>
	    <string>1.3</string>
	    <key>path</key>
	    <string>/Applications/MidiShare/msControler.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	  <dict>
	    <key>CFBundleName</key>
	    <string>msDisplay</string>
	    <key>CFBundleShortVersionString</key>
	    <string>1.3</string>
	    <key>path</key>
	    <string>/Applications/MidiShare/msDisplay.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	  <dict>
	    <key>CFBundleName</key>
	    <string>msDisplay</string>
	    <key>CFBundleShortVersionString</key>
	    <string>1.3</string>
	    <key>path</key>
	    <string>/Applications/MidiShare/msDisplay.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	  </array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>MidiShare-1.93.pkg</string>
			<key>installed_size</key>
			<integer>2308</integer>
			<key>packageid</key>
			<string>MidiShare</string>
			<key>version</key>
			<string>1.93</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MidiShareDev193.pkg</string>
			<key>installed_size</key>
			<integer>4960</integer>
			<key>packageid</key>
			<string>MidiShareDev</string>
			<key>version</key>
			<string>1.93</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.93</string>
</dict>
</plist>
