<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>LibAudioStream</string>
	<key>installed_size</key>
	<integer>3092</integer>
	<key>installer_item_hash</key>
	<string>a819e71a7b94b3e6dd84cc5bb9dfc6efc09411b0dfc34ba5167c000619e95d1a</string>
	<key>installer_item_location</key>
	<string>letz/LibAudioStream/1.20/LibAudioStream.dmg</string>
	<key>installer_item_size</key>
	<integer>873</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>LibAudioStream</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>LibAudioStream.pkg</string>
			<key>installed_size</key>
			<integer>3092</integer>
			<key>packageid</key>
			<string>edu.columbia.LibAudioStream.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
