<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Dropbox</string>
	</array>
	<key>description</key>
	<string>Dropbox for OSX</string>
	<key>display_name</key>
	<string>Dropbox</string>
	<key>installer_item_hash</key>
	<string>8754ce45555c65dfdda4691e4d78b0d7df5315fcf42c86f90c6a03f2c78d9b5e</string>
	<key>installer_item_location</key>
	<string>Dropbox/1.1.35/Dropbox 1.1.35.dmg</string>
	<key>installer_item_size</key>
	<integer>17906</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.getdropbox.dropbox</string>
			<key>CFBundleName</key>
			<string>Dropbox</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1.35</string>
			<key>path</key>
			<string>/Applications/Dropbox.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Dropbox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Dropbox</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.1.35</string>
</dict>
</plist>
