<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Apple</string>
	</array>
	<key>description</key>
	<string>Final Cut Studio for CUL Machines</string>
	<key>display_name</key>
	<string>Final Cut Studio</string>
	<key>installed_size</key>
	<integer>52851687</integer>
	<key>installer_item_hash</key>
	<string>3cc48a5f6d580c686455ca5b5e2d208bf9758957dcb18455a22d19bbc3a9e7e7</string>
	<key>installer_item_location</key>
	<string>Apple/Final Cut Studio/3.0/Final Cut Studio Install.dmg</string>
	<key>installer_item_size</key>
	<integer>3394623</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>FinalCutStudio</string>
	<key>package_path</key>
	<string>Installer/FinalCutStudio.mpkg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.FinalCutPro</string>
			<key>CFBundleName</key>
			<string>Final Cut Pro</string>
			<key>CFBundleShortVersionString</key>
			<string>7.0.3</string>
			<key>path</key>
			<string>/Applications/Final Cut Pro.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>CalligraphyLangPack.pkg</string>
			<key>installed_size</key>
			<integer>1384</integer>
			<key>packageid</key>
			<string>com.borisfx.CalligraphyLangPack</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Qmaster.pkg</string>
			<key>installed_size</key>
			<integer>46134</integer>
			<key>name</key>
			<string>Qmaster</string>
			<key>packageid</key>
			<string>com.apple.pkg.Qmaster</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProAppsMetadataSupport.pkg</string>
			<key>installed_size</key>
			<integer>257</integer>
			<key>name</key>
			<string>ProAppsMetadataSupport</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProAppsMetadataSupport</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>FinalCutStudioDocs.pkg</string>
			<key>installed_size</key>
			<integer>121</integer>
			<key>name</key>
			<string>FinalCutStudioDocs</string>
			<key>packageid</key>
			<string>com.apple.pkg.FinalCutStudioDocs</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>FinalCutPro.pkg</string>
			<key>installed_size</key>
			<integer>105656</integer>
			<key>name</key>
			<string>FinalCutPro</string>
			<key>packageid</key>
			<string>com.apple.pkg.FinalCutPro</string>
			<key>version</key>
			<string>7.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DSPPublishingTemplates.pkg</string>
			<key>installed_size</key>
			<integer>501765</integer>
			<key>name</key>
			<string>DSPPublishingTemplates</string>
			<key>packageid</key>
			<string>com.apple.pkg.DSPPublishingTemplates</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>iDVDPatches.pkg</string>
			<key>installed_size</key>
			<integer>8945</integer>
			<key>name</key>
			<string>iDVDPatches</string>
			<key>packageid</key>
			<string>com.apple.pkg.iDVDPatches</string>
			<key>version</key>
			<string>4.2.2</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DSPPublishing.pkg</string>
			<key>installed_size</key>
			<integer>179475</integer>
			<key>name</key>
			<string>DSPPublishing</string>
			<key>packageid</key>
			<string>com.apple.pkg.DSPPublishing</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AppleLoopsUtility.pkg</string>
			<key>installed_size</key>
			<integer>23440</integer>
			<key>name</key>
			<string>AppleLoopsUtility</string>
			<key>packageid</key>
			<string>com.apple.pkg.AppleLoopsUtility</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>BatchMonitorHelp.pkg</string>
			<key>installed_size</key>
			<integer>5182</integer>
			<key>name</key>
			<string>BatchMonitorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.BatchMonitorHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1874246</integer>
			<key>packageid</key>
			<string>com.apple.pkg.CollectorsSeriesLiveFonts</string>
			<key>version</key>
			<string>4.0.0.3140000.1590</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2413788</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SDDVDPAL</string>
			<key>version</key>
			<string>1.0.0.170000.68</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2033642</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro3</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>LiveTypeSupportStd.pkg</string>
			<key>installed_size</key>
			<integer>233</integer>
			<key>name</key>
			<string>LiveTypeSupportStd</string>
			<key>packageid</key>
			<string>com.apple.pkg.LiveTypeSupportStd</string>
			<key>version</key>
			<string>2.1.4</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1638189</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro7</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProMediaIO.pkg</string>
			<key>installed_size</key>
			<integer>728</integer>
			<key>name</key>
			<string>ProMediaIO</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProMediaIO</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>IMXCodec.pkg</string>
			<key>installed_size</key>
			<integer>381</integer>
			<key>name</key>
			<string>IMXCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.IMXCodec</string>
			<key>version</key>
			<string>1.4</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AppleIntermediateCodec.pkg</string>
			<key>installed_size</key>
			<integer>424</integer>
			<key>name</key>
			<string>AppleIntermediateCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.AppleIntermediateCodec</string>
			<key>version</key>
			<string>1.3</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2576723</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SDDVDNTSC</string>
			<key>version</key>
			<string>1.0.0.170000.68</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>XSKey.pkg</string>
			<key>installed_size</key>
			<integer>1026</integer>
			<key>name</key>
			<string>XSKey</string>
			<key>packageid</key>
			<string>com.apple.pkg.XSKey</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DVDStudioPro.pkg</string>
			<key>installed_size</key>
			<integer>75426</integer>
			<key>name</key>
			<string>DVDStudioPro</string>
			<key>packageid</key>
			<string>com.apple.pkg.DVDStudioPro</string>
			<key>version</key>
			<string>4.2.2</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3001525</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro5A</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>CalligraphyPlugins.pkg</string>
			<key>installed_size</key>
			<integer>129500</integer>
			<key>packageid</key>
			<string>com.borisfx.CalligraphyPlugins</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Uncompressed422.pkg</string>
			<key>installed_size</key>
			<integer>327</integer>
			<key>name</key>
			<string>Uncompressed422</string>
			<key>packageid</key>
			<string>com.apple.pkg.Uncompressed422</string>
			<key>version</key>
			<string>1.6</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2860639</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro5B</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackProHelp.pkg</string>
			<key>installed_size</key>
			<integer>115076</integer>
			<key>name</key>
			<string>SoundtrackProHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackProHelp</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProCoreA.pkg</string>
			<key>installed_size</key>
			<integer>1877</integer>
			<key>name</key>
			<string>ProCoreA</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProCoreA</string>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackProSupport.pkg</string>
			<key>installed_size</key>
			<integer>2547</integer>
			<key>name</key>
			<string>SoundtrackProSupport</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackProSupport</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Color.pkg</string>
			<key>installed_size</key>
			<integer>25702</integer>
			<key>name</key>
			<string>Color</string>
			<key>packageid</key>
			<string>com.apple.pkg.Color</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1955771</integer>
			<key>packageid</key>
			<string>com.apple.pkg.HDDVDNTSC</string>
			<key>version</key>
			<string>1.0.0.170000.68</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Motion.pkg</string>
			<key>installed_size</key>
			<integer>162400</integer>
			<key>name</key>
			<string>Motion</string>
			<key>packageid</key>
			<string>com.apple.pkg.Motion</string>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2616500</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro1C</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2849051</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro1B</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2929051</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro1A</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ColorHelp.pkg</string>
			<key>installed_size</key>
			<integer>68422</integer>
			<key>name</key>
			<string>ColorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.ColorHelp</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2225353</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MotionInstalledMedia1</string>
			<key>version</key>
			<string>1.5.0.3140000.1590</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4132134</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MotionInstalledMedia2</string>
			<key>version</key>
			<string>1.5.0.3140000.1590</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>PluginManagerStd.pkg</string>
			<key>installed_size</key>
			<integer>948</integer>
			<key>name</key>
			<string>PluginManagerStd</string>
			<key>packageid</key>
			<string>com.apple.pkg.PluginManagerStd</string>
			<key>version</key>
			<string>1.7.4</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SurroundImpulseResponses.pkg</string>
			<key>installed_size</key>
			<integer>876946</integer>
			<key>name</key>
			<string>SurroundImpulseResponses</string>
			<key>packageid</key>
			<string>com.apple.pkg.SurroundImpulseResponses</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>CompressorHelp.pkg</string>
			<key>installed_size</key>
			<integer>68156</integer>
			<key>name</key>
			<string>CompressorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.CompressorHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>QadministratorHelp.pkg</string>
			<key>installed_size</key>
			<integer>14044</integer>
			<key>name</key>
			<string>QadministratorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.QadministratorHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MotionHelp.pkg</string>
			<key>installed_size</key>
			<integer>274697</integer>
			<key>name</key>
			<string>MotionHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.MotionHelp</string>
			<key>version</key>
			<string>4.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackProSurroundSpaceDesignerPreSets.pkg</string>
			<key>installed_size</key>
			<integer>398</integer>
			<key>name</key>
			<string>SoundtrackProSurroundSpaceDesignerPreSets</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackProSurroundSpaceDesignerPreSets</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1738905</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MotionContentTemplates</string>
			<key>version</key>
			<string>1.5.0.3140000.1590</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>QuickTimeMPEG2.pkg</string>
			<key>installed_size</key>
			<integer>746</integer>
			<key>name</key>
			<string>QuickTimeMPEG2</string>
			<key>packageid</key>
			<string>com.apple.pkg.QuickTimeMPEG2</string>
			<key>version</key>
			<string>7.6</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Compressor.pkg</string>
			<key>installed_size</key>
			<integer>17572</integer>
			<key>name</key>
			<string>Compressor</string>
			<key>packageid</key>
			<string>com.apple.pkg.Compressor</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>VideoOutSupport.pkg</string>
			<key>installed_size</key>
			<integer>4654</integer>
			<key>name</key>
			<string>VideoOutSupport</string>
			<key>packageid</key>
			<string>com.apple.pkg.VideoOutSupport</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DVCPROHDCodec.pkg</string>
			<key>installed_size</key>
			<integer>639</integer>
			<key>name</key>
			<string>DVCPROHDCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.DVCPROHDCodec</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>PSTSharedA.pkg</string>
			<key>installed_size</key>
			<integer>19271</integer>
			<key>name</key>
			<string>PSTSharedA</string>
			<key>packageid</key>
			<string>com.apple.pkg.PSTSharedA</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>CinemaTools.pkg</string>
			<key>installed_size</key>
			<integer>28739</integer>
			<key>name</key>
			<string>CinemaTools</string>
			<key>packageid</key>
			<string>com.apple.pkg.CinemaTools</string>
			<key>version</key>
			<string>4.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>CinemaToolsHelp.pkg</string>
			<key>installed_size</key>
			<integer>24606</integer>
			<key>name</key>
			<string>CinemaToolsHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.CinemaToolsHelp</string>
			<key>version</key>
			<string>4.5</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>5151537</integer>
			<key>packageid</key>
			<string>com.apple.pkg.ProSeriesLiveFonts</string>
			<key>version</key>
			<string>4.0.0.3140000.1590</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AppleHDVCodec.pkg</string>
			<key>installed_size</key>
			<integer>1713</integer>
			<key>name</key>
			<string>AppleHDVCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.AppleHDVCodec</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1937974</integer>
			<key>packageid</key>
			<string>com.apple.pkg.HDDVDPAL</string>
			<key>version</key>
			<string>1.0.0.170000.68</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1252062</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MotionSeriesLiveFonts</string>
			<key>version</key>
			<string>4.0.0.3140000.1590</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>QmasterHelp.pkg</string>
			<key>installed_size</key>
			<integer>19463</integer>
			<key>name</key>
			<string>QmasterHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.QmasterHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackPro.pkg</string>
			<key>installed_size</key>
			<integer>120140</integer>
			<key>name</key>
			<string>SoundtrackPro</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackPro</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProAppsEffectsA.pkg</string>
			<key>installed_size</key>
			<integer>7405</integer>
			<key>name</key>
			<string>ProAppsEffectsA</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProAppsEffectsA</string>
			<key>version</key>
			<string>1.0.3</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>StereoImpulseResponses.pkg</string>
			<key>installed_size</key>
			<integer>319967</integer>
			<key>name</key>
			<string>StereoImpulseResponses</string>
			<key>packageid</key>
			<string>com.apple.pkg.StereoImpulseResponses</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DVDStudioProHelp.pkg</string>
			<key>installed_size</key>
			<integer>49853</integer>
			<key>name</key>
			<string>DVDStudioProHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.DVDStudioProHelp</string>
			<key>version</key>
			<string>4.2.2</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>CalligraphyPresets.pkg</string>
			<key>installed_size</key>
			<integer>17384</integer>
			<key>packageid</key>
			<string>com.borisfx.CalligraphyPresets</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProResCodec.pkg</string>
			<key>installed_size</key>
			<integer>1449</integer>
			<key>name</key>
			<string>ProResCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProResCodec</string>
			<key>version</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProRuntime.pkg</string>
			<key>installed_size</key>
			<integer>95161</integer>
			<key>name</key>
			<string>ProRuntime</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProRuntime</string>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2956582</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro2B</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2941592</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AudioContentforSoundtrackPro2A</string>
			<key>version</key>
			<string>1.1.0.260000.97</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AVCIntraCodec.pkg</string>
			<key>installed_size</key>
			<integer>298</integer>
			<key>name</key>
			<string>AVCIntraCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.AVCIntraCodec</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>FinalCutProHelp.pkg</string>
			<key>installed_size</key>
			<integer>365862</integer>
			<key>name</key>
			<string>FinalCutProHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.FinalCutProHelp</string>
			<key>version</key>
			<string>7.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.0</string>
	<key>postinstall_script</key>
	<string>#!/bin/sh
#Non-Admins need write access in order for FCP First-run to work properly.
chmod -R 777 "/Library/Application Support/Final Cut Pro System Support"
chmod +a "everyone allow list,add_file,search,delete,add_subdirectory,delete_child,file_inherit,directory_inherit,read,write,delete,append,execute" "/Library/Application Support/Final Cut Pro System Support/"
</string>
</dict>
</plist>

