<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>cdrs-printers</string>
	<key>installed_size</key>
	<integer>376</integer>
	<key>installer_item_hash</key>
	<string>fba68edc0edfd3c0befcc2e8478a2bc5177c5cd5b29949b8f5b48a9e123dd036</string>
	<key>installer_item_location</key>
	<string>cul/printers/cdrs-printers.dmg</string>
	<key>installer_item_size</key>
	<integer>83</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>cdrs_printers</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>cdrs-printers.pkg</string>
			<key>installed_size</key>
			<integer>376</integer>
			<key>packageid</key>
			<string>edu.columbia.cdrsprinters.ppd.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
