<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Music Printers</string>
	<key>installed_size</key>
	<integer>504</integer>
	<key>installer_item_hash</key>
	<string>b39ce666ede147573deec82067abaf8011fb87c75e809fce76e02e1cf80bf202</string>
	<key>installer_item_location</key>
	<string>cul/printers/Music Printers.dmg</string>
	<key>installer_item_size</key>
	<integer>104</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Music Printers</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>dodgeart701aninjaatgcolumbiaedu.pkg</string>
			<key>installed_size</key>
			<integer>208</integer>
			<key>packageid</key>
			<string>edu.columbia.musicPrinters.dodgeart701a_ninja_atg_columbia_edu.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>dodgeart701bninjaatgcolumbiaedu.pkg</string>
			<key>installed_size</key>
			<integer>296</integer>
			<key>packageid</key>
			<string>edu.columbia.musicPrinters.dodgeart701b_ninja_atg_columbia_edu.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
