<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>cul</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>SilverBack_License</string>
	<key>installed_size</key>
	<integer>4</integer>
	<key>installer_item_hash</key>
	<string>c58bd9549fe7a14e4daa8aaef33e3d17f298fbac5b24bb69334844d97529a728</string>
	<key>installer_item_location</key>
	<string>cul/serialization/silverback/SilverBack_License.dmg</string>
	<key>installer_item_size</key>
	<integer>17</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>SilverBack_License</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>SilverBack_License.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.silverbacklicense.com.clearleft.Silverback.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>Silverback</string>
	</array>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
