<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>CambridgeSoft</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>CS ChemBioDraw Ultra</string>
	<key>installed_size</key>
	<integer>147080</integer>
	<key>installer_item_hash</key>
	<string>09270f41e999896aa57b1c0ad7cc1a116a3fd4df455b086b32ada3f8b153c2f4</string>
	<key>installer_item_location</key>
	<string>CambridgeSoft/ChemBioDraw/12.0.2/cbdu1202.dmg</string>
	<key>installer_item_size</key>
	<integer>130070</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>ChemBioDraw</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>samples.pkg</string>
			<key>installed_size</key>
			<integer>276</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.Samples2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>common.pkg</string>
			<key>installed_size</key>
			<integer>20708</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltraGUI.Common2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chemnmr.pkg</string>
			<key>installed_size</key>
			<integer>10372</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.ChemNMR2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>clogpData.pkg</string>
			<key>installed_size</key>
			<integer>292</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.ClogPData2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>csChemdrawHelp.pkg</string>
			<key>installed_size</key>
			<integer>14552</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.CSChemDrawHelp2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>csChempropPro.pkg</string>
			<key>installed_size</key>
			<integer>6184</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.CSChemPropPro2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chembiodrawUltra.pkg</string>
			<key>installed_size</key>
			<integer>64</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltraGUI.ChemBioDrawUltra2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>csChemdrawPro.pkg</string>
			<key>installed_size</key>
			<integer>42460</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChemDrawProPlugin.CSChemDrawProPlugin.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>readMecsChemdrawplugin.pkg</string>
			<key>installed_size</key>
			<integer>16</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChemdrawProPlugin.ReadMe2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chemdrawPlugin.pkg</string>
			<key>installed_size</key>
			<integer>84</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChemDrawProPlugin.ChemDrawPluginGUI2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>html.pkg</string>
			<key>installed_size</key>
			<integer>96</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChemdrawProPlugin.HTML2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>csChembiodrawUltra.pkg</string>
			<key>installed_size</key>
			<integer>43224</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.CSChemBioDrawUltraApp.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>chemdrawItems.pkg</string>
			<key>installed_size</key>
			<integer>8752</integer>
			<key>packageid</key>
			<string>www.cambridgesoft.com.csChembiodrawUltra.ChemDrawItems2.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.0.2</string>

</dict>
</plist>
