<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Instruments for Live</string>
	<key>installed_size</key>
	<integer>20069576</integer>
	<key>installer_item_hash</key>
	<string>ff8aa1f687a02ebe51699c9cade1e2b260e274fa701bbe4b5642ae0a8f66d6f8</string>
	<key>installer_item_location</key>
	<string>Ableton/Ableton Suite/8.2.1/Instruments for Live.dmg</string>
	<key>installer_item_size</key>
	<integer>19113347</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Instruments for Live</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Instruments for Live.pkg</string>
			<key>installed_size</key>
			<integer>20069576</integer>
			<key>packageid</key>
			<string>edu.columbia.instrumentsForLive.Instruments.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
	<key>update_for</key>
	<array>
	  <string>Ableton Live</string>
	</array>
</dict>
</plist>
