<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Mozilla</string>
	</array>
	<key>description</key>
	<string>12.0</string>
	<key>display_name</key>
	<string>Firefox</string>
	<key>installer_item_hash</key>
	<string>0b95ff66b87f158bd238edaf38ea1b97d86ccfb13e372082ea866fd122a34ee3</string>
	<key>installer_item_location</key>
	<string>Mozilla/Firefox/12.0/Firefox 12.0.dmg</string>
	<key>installer_item_size</key>
	<integer>30860</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>CFBundleName</key>
			<string>Firefox</string>
			<key>CFBundleShortVersionString</key>
			<string>12.0</string>
			<key>minosversion</key>
			<string>10.5</string>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Firefox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Firefox</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>12.0</string>
</dict>
</plist>
