<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Apple</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Xcode Tools</string>
	<key>installed_size</key>
	<integer>3441736</integer>
	<key>installer_item_hash</key>
	<string>8009fa313c7ef612c6d53ce093db402b70b63196540812d5c27990690a46fb73</string>
	<key>installer_item_location</key>
	<string>Apple/Xcode/3.12/xcode312_2621_developerdvd.dmg</string>
	<key>installer_item_size</key>
	<integer>1019748</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>XcodeTools</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>path</key>
	    <string>/Developer/Applications/Xcode.app</string>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.Xcode</string>
	    <key>CFBundleName</key>
	    <string>Xcode</string>
	    <key>CFBundleShortVersionString</key>
	    <string>3.1.2</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  </array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>890</integer>
			<key>packageid</key>
			<string>com.apple.pkg.BluetoothSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>83098</integer>
			<key>packageid</key>
			<string>com.apple.pkg.CHUD</string>
			<key>version</key>
			<string>5.1.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1402</integer>
			<key>packageid</key>
			<string>com.apple.pkg.CoreAudioSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>458646</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevDocumentation</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>452450</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperTools</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>56158</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsCLI</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>56158</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsCLIROOT</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>242</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsSystemSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>161698</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevExamples</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>181038</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>197850</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevToolsDocumentation</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7810</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DistributedBuildsSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>162</integer>
			<key>packageid</key>
			<string>com.apple.pkg.FireWireSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>77134</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc3.3</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3982</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc3.3ADCDocs</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>96994</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.0</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6530</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.0ADCDocs</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>96994</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.0ROOT</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>109586</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.2</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7082</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.2ADCDocs</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>109586</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.2ROOT</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>140594</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>132218</integer>
			<key>packageid</key>
			<string>com.apple.pkg.llvm-gcc4.2</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>150038</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MacOSX10.3.9</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>168442</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MacOSX10.4.Universal</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>238102</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MacOSX10.5</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14154</integer>
			<key>packageid</key>
			<string>com.apple.pkg.OpenGLApps</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3674</integer>
			<key>packageid</key>
			<string>com.apple.pkg.OpenGLSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>21674</integer>
			<key>packageid</key>
			<string>com.apple.pkg.OtherDevDocumentation</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2946</integer>
			<key>packageid</key>
			<string>com.apple.pkg.QuickTimeSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.RelocatableScript</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SystemScript</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SystemScriptNONONLY</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>714</integer>
			<key>packageid</key>
			<string>com.apple.pkg.VersionedDeveloperToolsSystemSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>946</integer>
			<key>packageid</key>
			<string>com.apple.pkg.WebKitSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3754</integer>
			<key>packageid</key>
			<string>com.apple.pkg.WebObjectsDevelopment</string>
			<key>version</key>
			<string>1.0.0.1.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>121442</integer>
			<key>packageid</key>
			<string>com.apple.pkg.WebObjectsDocumentation</string>
			<key>version</key>
			<string>1.0.0.1.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>66862</integer>
			<key>packageid</key>
			<string>com.apple.pkg.WebObjectsExamples</string>
			<key>version</key>
			<string>1.0.0.1.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>186894</integer>
			<key>packageid</key>
			<string>com.apple.pkg.WebObjectsRuntime</string>
			<key>version</key>
			<string>1.0.0.1.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6798</integer>
			<key>packageid</key>
			<string>com.apple.pkg.X11Documentation</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6798</integer>
			<key>packageid</key>
			<string>com.apple.pkg.X11DocumentationROOT</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7670</integer>
			<key>packageid</key>
			<string>com.apple.pkg.X11SDKForMacOSX</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1192168948</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2526</integer>
			<key>packageid</key>
			<string>com.apple.pkg.Xcode3.xExtras</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1192168948</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.1.2.0</string>
</dict>
</plist>
