<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string>OminiGraffle Pro 5 License for CUL machines</string>
	<key>display_name</key>
	<string>OmniGraffle Pro 5.23 License</string>
	<key>installed_size</key>
	<integer>4</integer>
	<key>installer_item_hash</key>
	<string>f2b9e8fce00e2e6ff66cea72fc2829b678e94ba9f535d6d66241ee4bcad3dc37</string>
	<key>installer_item_location</key>
	<string>cul/serialization/OmniGrafflePro/OmniGraffleProLicense-2.0.dmg</string>
	<key>installer_item_size</key>
	<integer>16</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>d2c7ac7c21e656cb3cdd147f37f1bb26</string>
			<key>path</key>
			<string>/Library/Application Support/Omni Group/Software Licenses/OmniGraffle-590917.omnilicense</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>OmniGraffleProLicense</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
	chmod 755 "/Library/Application Support/Omni Group/Software Licenses/OmniGraffle-590917.omnilicense"
	end</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>OmniGraffleProLicense-2.0.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.OmniGroupLicense.pkg</string>
			<key>version</key>
			<string>2.0.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>OmniGrafflePro</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>OmniGraffleProLicense</string>
	</array>
	<key>version</key>
	<string>2.0.0</string>
</dict>
</plist>
