<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string>VMWare Fusion License</string>
	<key>display_name</key>
	<string>cul-vmware-license</string>
	<key>installed_size</key>
	<integer>12</integer>
	<key>installer_item_hash</key>
	<string>8854120c4c81161c185c21d45594a0a4231527361097f0e2ee0b9f42acb83f66</string>
	<key>installer_item_location</key>
	<string>cul/serialization/VMware/cul-vmware-license.dmg</string>
	<key>installer_item_size</key>
	<integer>18</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>cul-vmware-license</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>licensefusion30e1200902.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.culvmwarelicense.licensefusion30e1200902-1.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>licensefusion30e2200902.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.culvmwarelicense.licensefusion30e2200902.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>licensefusion30e1200902-1.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.culvmwarelicense.licensefusion30e1200902.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>VMWare</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0.0</string>
</dict>
</plist>
