<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>mgds</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>GeoMapApp</string>
	<key>installer_item_hash</key>
	<string>14989da723167a817ee104fb739a5d201288dbd6b9d342007e67b4a8aaa6d5a8</string>
	<key>installer_item_location</key>
	<string>mgds/Geomapapp/3.0.1/GeoMapApp-3.1.2.dmg</string>
	<key>installer_item_size</key>
	<integer>7362</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>GeoMapApp</string>
			<key>CFBundleName</key>
			<string>GeoMapApp</string>
			<key>CFBundleShortVersionString</key>
			<string>3.1.2</string>
			<key>path</key>
			<string>/Applications/GeoMapApp.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>GeoMapApp.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>GeoMapApp</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.1.2</string>
</dict>
</plist>
