<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>Firefox</string>
	</array>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string>LibX for CUL</string>
	<key>display_name</key>
	<string>LibX</string>
	<key>installed_size</key>
	<integer>212</integer>
	<key>installer_item_hash</key>
	<string>472236e188160a291bdd71d5ca6df09e14ef5ba5ae3a179237a6b1fa77c7d16b</string>
	<key>installer_item_location</key>
	<string>cul/libx/2.1/cul-libx.dmg</string>
	<key>installer_item_size</key>
	<integer>205</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>libx</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>cul-libx.pkg</string>
			<key>installed_size</key>
			<integer>212</integer>
			<key>packageid</key>
			<string>edu.columbia.libx21.pkg</string>
			<key>version</key>
			<string>2.1</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>Firefox4</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
	  exepath="/Library/Application Support/Mozilla/"
	  chmod -R 755 "$exepath"
	  exit 0
	</string>
</dict>
</plist>
