<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>CUL Google Chrome Profile</string>
	<key>installed_size</key>
	<integer>12</integer>
	<key>installer_item_hash</key>
	<string>d4cb6e5994f877a589301fd347148834c6093e7fb39d62b8bb31a34484e3e5bd</string>
	<key>installer_item_location</key>
	<string>cul/customization/Chrome/cul-ChromeProfile.dmg</string>
	<key>installer_item_size</key>
	<integer>20</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>cul-ChromeProfile</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>firstRun.pkg</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>edu.columbia.culchromeprofile.firstRun.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>bookmarks.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.culchromeprofile.bookmarks.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>preferences.pkg</string>
			<key>installed_size</key>
			<integer>8</integer>
			<key>packageid</key>
			<string>edu.columbia.culchromeprofile.preferences.pkg</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
	</array>
	<key>requires</key>
	<array>
		<string>Chrome</string>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.1</string>
	<key>requires</key>
	<array>
	  <string>Chrome</string>
	</array>
	<key>postinstall_script</key>
        <string>#!/bin/sh

dir="/System/Library/User Template/English.lproj/Library/Application Support"

for folder in /Users/*
do
if [ $folder != "/Users/Shared" ]
then
/bin/cp -R "$dir/Google" "$folder/Library/Application Support/Google"
chown -R ${folder/\/Users\//} "$folder/Library/Application Support/"
fi
done

exit 0</string>

</dict>
</plist>
