<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Perian</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>perian_1.2.3</string>
	<key>installed_size</key>
	<integer>11704</integer>
	<key>installer_item_hash</key>
	<string>14f3487b72814c046867b4001a59ca340a4bf1d7fe76e0a332ec94d7bf11319e</string>
	<key>installer_item_location</key>
	<string>Perian/perian_1.2.3.pkg</string>
	<key>installer_item_size</key>
	<integer>6330</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>perian</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>308</integer>
			<key>packageid</key>
			<string>edu.ccnmtl.columbia.edu.perian123.A52Codec.pkg</string>
			<key>version</key>
			<string>1.8.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>84</integer>
			<key>packageid</key>
			<string>edu.ccnmtl.columbia.edu.perian123.AC3MovieImport.pkg</string>
			<key>version</key>
			<string>1.7.9</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7476</integer>
			<key>packageid</key>
			<string>edu.ccnmtl.columbia.edu.perian123.Perian.pkg</string>
			<key>version</key>
			<string>1.2.3</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3836</integer>
			<key>packageid</key>
			<string>edu.ccnmtl.columbia.edu.perian123.Perian-1.pkg</string>
			<key>version</key>
			<string>1.2.3</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.2.3</string>
</dict>
</plist>
