<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>This package is outdated. Installs the LITO user and gives it ARD and SSH rights. OUTDATED</string>
	<key>display_name</key>
	<string>Remote Desktop Client Update OUTDATED</string>
	<key>installed_size</key>
	<integer>9532</integer>
	<key>installer_item_hash</key>
	<string>9aa3188e4135ca4abaad3d832d182433f435c470be3f95bb1cf09ba70715caea</string>
	<key>installer_item_location</key>
	<string>cul/ard/CUL-ard-client-3.4.0.1.dmg</string>
	<key>installer_item_size</key>
	<integer>4486</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.RemoteDesktopAgent</string>
			<key>CFBundleName</key>
			<string>ARDAgent</string>
			<key>CFBundleShortVersionString</key>
			<string>3.4.0</string>
			<key>path</key>
			<string>/System/Library/CoreServices/RemoteManagement/ARDAgent.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>CUL-ard-client</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>CUL-ard-client.pkg</string>
			<key>installed_size</key>
			<integer>8474</integer>
			<key>name</key>
			<string>RemoteDesktopClient</string>
			<key>packageid</key>
			<string>edu.columbia.pkg.RemoteDesktopClient</string>
			<key>version</key>
			<string>3.4.0.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>3.4.0.1</string>
</dict>
</plist>
