<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Gawker</string>
	</array>
	<key>description</key>
	<string>Gawker is an application for Mac OS X that creates time-lapse movies using a webcam</string>
	<key>display_name</key>
	<string>Gawker</string>
	<key>installer_item_hash</key>
	<string>a19d838bc1958a78782aaeaaac3d909b2e2f201c779a1cde0b45bc6e5a106d3b</string>
	<key>installer_item_location</key>
	<string>Gawker/0.8.3/Gawker.dmg</string>
	<key>installer_item_size</key>
	<integer>2267</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.wnka.Gawker</string>
			<key>CFBundleShortVersionString</key>
			<string>0.8.3</string>
			<key>path</key>
			<string>/Applications/Gawker.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Gawker.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Gawker</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>0.8.3</string>
</dict>
</plist>
