<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>common</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>MunkiR4R</string>
	<key>installer_item_hash</key>
	<string>47c2243b50713cc74d263adae3b67173e0085342f0ee79f000ebd959b1d8b627</string>
	<key>installer_item_location</key>
	<string>common/MunkiR4R_Client-0.02.dmg</string>
	<key>installer_item_size</key>
	<integer>15</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>md5checksum</key>
			<string>f18d200aea6306d70bd4c18a10de2e2d</string>
			<key>path</key>
			<string>/usr/local/munki/preflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>8b1c1530d42a57e67e3d402c1eb35459</string>
			<key>path</key>
			<string>/usr/local/munki/postflight</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>md5checksum</key>
			<string>0e82fc8380ea07d632b9b05b467c3929</string>
			<key>path</key>
			<string>/usr/local/munki/report_broken_client</string>
			<key>type</key>
			<string>file</string>
		</dict>
		<dict>
			<key>path</key>
			<string>/usr/local/munki/munkireport_client</string>
			<key>type</key>
			<string>file</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>preflight</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>postflight</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>report_broken_client</string>
			<key>user</key>
			<string>root</string>
		</dict>
		<dict>
			<key>destination_path</key>
			<string>/usr/local/munki</string>
			<key>group</key>
			<string>wheel</string>
			<key>mode</key>
			<string>go-w</string>
			<key>source_item</key>
			<string>munkireport_client</string>
			<key>user</key>
			<string>root</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>MunkiR4R</string>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>0.02</string>
</dict>
</plist>
