<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>common</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Munki - Managed software installation for OS X</string>
	<key>installed_size</key>
	<integer>1408</integer>
	<key>installer_item_hash</key>
	<string>a38dc091160ae36f869dc7dbb8ee5eea80b1f6360bee92b65535095b44f6385a</string>
	<key>installer_item_location</key>
	<string>common/munkitools-0.8.2.1475.0.mpkg.dmg</string>
	<key>installer_item_size</key>
	<integer>582</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>munkitools</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>munkitools_app-3.3.1.1474.pkg</string>
			<key>installed_size</key>
			<integer>752</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.app</string>
			<key>version</key>
			<string>3.3.1.1474</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>munkitools_admin-0.8.2.1475.0.pkg</string>
			<key>installed_size</key>
			<integer>104</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.admin</string>
			<key>version</key>
			<string>0.8.2.1475.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>munkitools_launchd-0.8.0.1.pkg</string>
			<key>installed_size</key>
			<integer>32</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.launchd</string>
			<key>version</key>
			<string>0.8.0.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>munkitools_core-0.8.2.1475.0.pkg</string>
			<key>installed_size</key>
			<integer>520</integer>
			<key>packageid</key>
			<string>com.googlecode.munki.core</string>
			<key>version</key>
			<string>0.8.2.1475.0</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array>
		<string>munkitools</string>
	</array>
	<key>version</key>
	<string>0.8.2.1475.0</string>
</dict>
</plist>
