<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string>Fixes the AMT error message from Acrobat</string>
	<key>display_name</key>
	<string>Adobe Acrobat Fix</string>
	<key>installed_size</key>
	<integer>135572</integer>
	<key>installer_item_hash</key>
	<string>0387aba8d99a5486b9114a0c6652ed7b284728b19da7951e6b7574e9a6d133e5</string>
	<key>installer_item_location</key>
	<string>cul/customization/Acrobat/9.0/AcrobatFix.dmg</string>
	<key>installer_item_size</key>
	<integer>82524</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>AcrobatFix</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>md5checksum</key>
	    <string>8857a1c3d37c28f66e44d47b567341b2</string>
	    <key>path</key>
	    <string>/Library/Application Support/Adobe/Acrobat/SHExpectedMissingFileTypes.plist</string>
	    <key>type</key>
	    <string>file</string>
	  </dict>
	</array>
	<key>receipts</key>
	<array>
	  <dict>
	    <key>filename</key>
	    <string>AcrobatFix.pkg</string>
	    <key>installed_size</key>
	    <integer>135572</integer>
	    <key>packageid</key>
	    <string>edu.columbia.adobefix.adobe.pkg</string>
	    <key>version</key>
	    <string>1.0.0</string>
	  </dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0.0</string>
	<key>update_for</key>
	<array>
	  <string>Acrobat</string>
	</array>
	<key>requires</key>
	<array>
	  <string>Acrobat</string>
	</array>
</dict>
</plist>
