<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>MildMannered</string>
	</array>
	<key>display_name</key>
	<string>Iris</string>
	<key>installer_item_hash</key>
	<string>fe12590b754995b58b2d7c0b13266cbc9c3fe7b81591445dbc4fdb1c44eee00e</string>
	<key>installer_item_location</key>
	<string>MildMannered/Iris/1.0.7/Iris.dmg</string>
	<key>installer_item_size</key>
	<integer>5011</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.mildmanneredindustries.iris</string>
			<key>CFBundleName</key>
			<string>Iris</string>
			<key>CFBundleShortVersionString</key>
			<string>1.0.7</string>
			<key>path</key>
			<string>/Applications/Iris.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Iris.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Iris</string>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0.7</string>
</dict>
</plist>
