<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array/>
	<key>description</key>
	<string>this is a test</string>
	<key>display_name</key>
	<string>test</string>
	<key>installed_size</key>
	<integer>12</integer>
	<key>installer_item_hash</key>
	<string>ba690881b21dcdadb3a36c2109fa4653f81d85980c2bcc9d107eff19da26c0a7</string>
	<key>installer_item_location</key>
	<string>cul/test/1.0/test-1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>23</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>test</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>cacert.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.munkiclientssl.cacert.pkg</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>munki.pkg</string>
			<key>installed_size</key>
			<integer>8</integer>
			<key>packageid</key>
			<string>edu.columbia.munkiclientssl.munki.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
