<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>RequireRestart</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>randomtest</string>
	</array>
	<key>description</key>
	<string>this is a test</string>
	<key>display_name</key>
	<string>test</string>
	<key>installed_size</key>
	<integer>40</integer>
	<key>installer_item_hash</key>
	<string>a2a7bec1030572d87587a741ef43a461293c818810c24722d2c8d99d004f6ca6</string>
	<key>installer_item_location</key>
	<string>cul/test/1.0/test-1.0.dmg</string>
	<key>installer_item_size</key>
	<integer>7</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>test</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>20</integer>
			<key>packageid</key>
			<string>edu.columbia.uniauth.etc.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>20</integer>
			<key>packageid</key>
			<string>edu.columbia.uniauth.Library.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
