<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Apple</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Logic Studio</string>
	<key>installed_size</key>
	<integer>57427681</integer>
	<key>installer_item_hash</key>
	<string>3f9594048a4b6c783ad4ff8919771dcb3a155fabd7a8be225f1a7149abfa3809</string>
	<key>installer_item_location</key>
	<string>Apple/Logic Studio/2.1/Logic_Studio_Install.dmg</string>
	<key>installer_item_size</key>
	<integer>7879705</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>LogicStudio</string>
	<key>package_path</key>
	<string>Installer/LogicStudio.mpkg</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.logic.pro</string>
	    <key>CFBundleName</key>
	    <string>Logic Pro</string>
	    <key>CFBundleShortVersionString</key>
	    <string>9.1.1</string>
	    <key>path</key>
	    <string>/Applications/Logic Pro.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.logic.node</string>
	    <key>CFBundleName</key>
	    <string>Logic Node</string>
	    <key>CFBundleShortVersionString</key>
	    <string>9.1.1</string>
	    <key>path</key>
	    <string>/Applications/Logic Node.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.mainstage</string>
	    <key>CFBundleName</key>
	    <string>MainStage</string>
	    <key>CFBundleShortVersionString</key>
	    <string>2.1.1</string>
	    <key>path</key>
	    <string>/Applications/MainStage.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.soundtrackpro</string>
	    <key>CFBundleName</key>
	    <string>Soundtrack Pro</string>
	    <key>CFBundleShortVersionString</key>
	    <string>3.0</string>
	    <key>path</key>
	    <string>/Applications/Soundtrack Pro.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.WaveBurner</string>
	    <key>CFBundleName</key>
	    <string>WaveBurner</string>
	    <key>CFBundleShortVersionString</key>
	    <string>1.6.0</string>
	    <key>path</key>
	    <string>/Applications/WaveBurner.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.compressor.Compressor</string>
	    <key>CFBundleName</key>
	    <string>Compressor</string>
	    <key>CFBundleShortVersionString</key>
	    <string>3.5</string>
	    <key>path</key>
	    <string>/Applications/Compressor.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>LogicPro.pkg</string>
			<key>installed_size</key>
			<integer>771173</integer>
			<key>name</key>
			<string>LogicPro</string>
			<key>packageid</key>
			<string>com.apple.pkg.LogicPro</string>
			<key>version</key>
			<string>9.1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>LogicNode.pkg</string>
			<key>installed_size</key>
			<integer>101653</integer>
			<key>name</key>
			<string>LogicNode</string>
			<key>packageid</key>
			<string>com.apple.pkg.LogicNode</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>LogicProContent.pkg</string>
			<key>installed_size</key>
			<integer>15579</integer>
			<key>name</key>
			<string>LogicProContent</string>
			<key>packageid</key>
			<string>com.apple.pkg.LogicProContent</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MainStage.pkg</string>
			<key>installed_size</key>
			<integer>542559</integer>
			<key>name</key>
			<string>MainStage</string>
			<key>packageid</key>
			<string>com.apple.pkg.MainStage</string>
			<key>version</key>
			<string>2.1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MainStageContent.pkg</string>
			<key>installed_size</key>
			<integer>94276</integer>
			<key>name</key>
			<string>MainStageContent</string>
			<key>packageid</key>
			<string>com.apple.pkg.MainStageContent</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackPro.pkg</string>
			<key>installed_size</key>
			<integer>120140</integer>
			<key>name</key>
			<string>SoundtrackPro</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackPro</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackProHelp.pkg</string>
			<key>installed_size</key>
			<integer>115076</integer>
			<key>name</key>
			<string>SoundtrackProHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackProHelp</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SoundtrackProSupport.pkg</string>
			<key>installed_size</key>
			<integer>2547</integer>
			<key>name</key>
			<string>SoundtrackProSupport</string>
			<key>packageid</key>
			<string>com.apple.pkg.SoundtrackProSupport</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>WaveBurner.pkg</string>
			<key>installed_size</key>
			<integer>195963</integer>
			<key>name</key>
			<string>WaveBurner</string>
			<key>packageid</key>
			<string>com.apple.pkg.WaveBurner</string>
			<key>version</key>
			<string>1.5.2</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>WaveBurnerContent.pkg</string>
			<key>installed_size</key>
			<integer>2992</integer>
			<key>name</key>
			<string>WaveBurnerContent</string>
			<key>packageid</key>
			<string>com.apple.pkg.WaveBurnerContent</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProMediaIO.pkg</string>
			<key>installed_size</key>
			<integer>728</integer>
			<key>name</key>
			<string>ProMediaIO</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProMediaIO</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Compressor.pkg</string>
			<key>installed_size</key>
			<integer>17572</integer>
			<key>name</key>
			<string>Compressor</string>
			<key>packageid</key>
			<string>com.apple.pkg.Compressor</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>CompressorHelp.pkg</string>
			<key>installed_size</key>
			<integer>68156</integer>
			<key>name</key>
			<string>CompressorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.CompressorHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Qmaster.pkg</string>
			<key>installed_size</key>
			<integer>46134</integer>
			<key>name</key>
			<string>Qmaster</string>
			<key>packageid</key>
			<string>com.apple.pkg.Qmaster</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>QmasterHelp.pkg</string>
			<key>installed_size</key>
			<integer>19463</integer>
			<key>name</key>
			<string>QmasterHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.QmasterHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>QadministratorHelp.pkg</string>
			<key>installed_size</key>
			<integer>14044</integer>
			<key>name</key>
			<string>QadministratorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.QadministratorHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProAppsMetadataSupport.pkg</string>
			<key>installed_size</key>
			<integer>257</integer>
			<key>name</key>
			<string>ProAppsMetadataSupport</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProAppsMetadataSupport</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>PluginManagerStd.pkg</string>
			<key>installed_size</key>
			<integer>948</integer>
			<key>name</key>
			<string>PluginManagerStd</string>
			<key>packageid</key>
			<string>com.apple.pkg.PluginManagerStd</string>
			<key>version</key>
			<string>1.7.4</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>VideoOutSupport.pkg</string>
			<key>installed_size</key>
			<integer>4654</integer>
			<key>name</key>
			<string>VideoOutSupport</string>
			<key>packageid</key>
			<string>com.apple.pkg.VideoOutSupport</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>PSTSharedA.pkg</string>
			<key>installed_size</key>
			<integer>19271</integer>
			<key>name</key>
			<string>PSTSharedA</string>
			<key>packageid</key>
			<string>com.apple.pkg.PSTSharedA</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AppleHDVCodec.pkg</string>
			<key>installed_size</key>
			<integer>1713</integer>
			<key>name</key>
			<string>AppleHDVCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.AppleHDVCodec</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AppleIntermediateCodec.pkg</string>
			<key>installed_size</key>
			<integer>424</integer>
			<key>name</key>
			<string>AppleIntermediateCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.AppleIntermediateCodec</string>
			<key>version</key>
			<string>1.3</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DVCPROHDCodec.pkg</string>
			<key>installed_size</key>
			<integer>639</integer>
			<key>name</key>
			<string>DVCPROHDCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.DVCPROHDCodec</string>
			<key>version</key>
			<string>1.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>IMXCodec.pkg</string>
			<key>installed_size</key>
			<integer>381</integer>
			<key>name</key>
			<string>IMXCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.IMXCodec</string>
			<key>version</key>
			<string>1.4</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>QuickTimeMPEG2.pkg</string>
			<key>installed_size</key>
			<integer>746</integer>
			<key>name</key>
			<string>QuickTimeMPEG2</string>
			<key>packageid</key>
			<string>com.apple.pkg.QuickTimeMPEG2</string>
			<key>version</key>
			<string>7.6</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Uncompressed422.pkg</string>
			<key>installed_size</key>
			<integer>327</integer>
			<key>name</key>
			<string>Uncompressed422</string>
			<key>packageid</key>
			<string>com.apple.pkg.Uncompressed422</string>
			<key>version</key>
			<string>1.6</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>BatchMonitorHelp.pkg</string>
			<key>installed_size</key>
			<integer>5182</integer>
			<key>name</key>
			<string>BatchMonitorHelp</string>
			<key>packageid</key>
			<string>com.apple.pkg.BatchMonitorHelp</string>
			<key>version</key>
			<string>3.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DSPPublishing.pkg</string>
			<key>installed_size</key>
			<integer>179475</integer>
			<key>name</key>
			<string>DSPPublishing</string>
			<key>packageid</key>
			<string>com.apple.pkg.DSPPublishing</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>DSPPublishingTemplates.pkg</string>
			<key>installed_size</key>
			<integer>501765</integer>
			<key>name</key>
			<string>DSPPublishingTemplates</string>
			<key>packageid</key>
			<string>com.apple.pkg.DSPPublishingTemplates</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProResCodec.pkg</string>
			<key>installed_size</key>
			<integer>1449</integer>
			<key>name</key>
			<string>ProResCodec</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProResCodec</string>
			<key>version</key>
			<string>2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>LogicStudioDemoSongs.pkg</string>
			<key>installed_size</key>
			<integer>261079</integer>
			<key>name</key>
			<string>LogicStudioDemoSongs</string>
			<key>packageid</key>
			<string>com.apple.pkg.LogicStudioDemoSongs</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>LogicStudioCoreContent.pkg</string>
			<key>installed_size</key>
			<integer>7184059</integer>
			<key>name</key>
			<string>LogicStudioCoreContent</string>
			<key>packageid</key>
			<string>com.apple.pkg.LogicStudioCoreContent</string>
			<key>version</key>
			<string>1.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>AppleLoopsUtility.pkg</string>
			<key>installed_size</key>
			<integer>23440</integer>
			<key>name</key>
			<string>AppleLoopsUtility</string>
			<key>packageid</key>
			<string>com.apple.pkg.AppleLoopsUtility</string>
			<key>version</key>
			<string>3.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ImpulseResponseUtility.pkg</string>
			<key>installed_size</key>
			<integer>16845</integer>
			<key>name</key>
			<string>ImpulseResponseUtility</string>
			<key>packageid</key>
			<string>com.apple.pkg.ImpulseResponseUtility</string>
			<key>version</key>
			<string>9.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>TDMESBEXS.pkg</string>
			<key>installed_size</key>
			<integer>1782</integer>
			<key>name</key>
			<string>TDMESBEXS</string>
			<key>packageid</key>
			<string>com.apple.pkg.TDMESBEXS</string>
			<key>version</key>
			<string>2.2</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>UnitorMIDIDriver.pkg</string>
			<key>installed_size</key>
			<integer>317</integer>
			<key>name</key>
			<string>UnitorMIDIDriver</string>
			<key>packageid</key>
			<string>com.apple.pkg.UnitorMIDIDriver</string>
			<key>version</key>
			<string>2.5</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>StereoImpulseResponses.pkg</string>
			<key>installed_size</key>
			<integer>319963</integer>
			<key>name</key>
			<string>StereoImpulseResponses</string>
			<key>packageid</key>
			<string>com.apple.pkg.StereoImpulseResponses</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>ProRuntime.pkg</string>
			<key>installed_size</key>
			<integer>95161</integer>
			<key>name</key>
			<string>ProRuntime</string>
			<key>packageid</key>
			<string>com.apple.pkg.ProRuntime</string>
			<key>version</key>
			<string>5.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>LogicStudioMisc.pkg</string>
			<key>installed_size</key>
			<integer>157</integer>
			<key>name</key>
			<string>LogicStudioMisc</string>
			<key>packageid</key>
			<string>com.apple.pkg.LogicStudioMisc</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>XSKey.pkg</string>
			<key>installed_size</key>
			<integer>1026</integer>
			<key>name</key>
			<string>XSKey</string>
			<key>packageid</key>
			<string>com.apple.pkg.XSKey</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>installer_choices_xml</key>
	<array>
	  <dict>
            <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicPro</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>MainStage</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>SoundtrackPro</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WaveBurner</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>Compressor</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>-1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicStudioContent</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicStudioDemoSongs</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicStudioCoreContent</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicStudioSurroundIRs</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WarpedEffects</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPacks</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>GB09Content</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>GB09Instruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>GB09InstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>GB09InstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>GB09Loops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPack1</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPack1Instruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPack1InstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPack1InstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPack1ProSurroundHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPack1AppleLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPackRemixTools</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RemixToolsInstruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RemixToolsInstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RemixToolsInstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RemixToolsProSurroundHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RemixToolsAppleLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPackRhythmSection</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RhythmSectionInstruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RhythmSectionInstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RhythmSectionInstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RhythmSectionProSurroundHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>RhythmSectionAppleLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPackOrchestral</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>OrchestralInstruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>OrchestralInstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>OrchestralInstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>OrchestralProSurroundHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>OrchestralAppleLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPackWorldMusic</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WorldMusicInstruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WorldMusicInstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WorldMusicInstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WorldMusicProSurroundHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>WorldMusicAppleLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>JamPackVoices</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>VoicesInstruments</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>VoicesInstrumentsProHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>VoicesInstrumentsHIDDEN</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>VoicesAppleLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>-1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>SoundtrackProContent</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>SoundtrackProSoundEffects</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>SoundtrackProMusicBeds</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>SoundtrackProMusicLoops</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>XtremeLibrary</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>0</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicProLegacyContent</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>Tools</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>ImpulseResponseUtility</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>AppleLoopsUtility</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>-1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>HardwareSupport</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>ESBEXS24TDM</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>UnitorFamilyDrivers</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>StereoImpulseResponses</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>LogicStudioMisc</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>ProRuntime</string>
      </dict>
      <dict>
        <key>attributeSetting</key>
        <integer>1</integer>
        <key>choiceAttribute</key>
        <string>selected</string>
        <key>choiceIdentifier</key>
        <string>XSKey</string>
      </dict>
    </array>

	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1</string>
</dict>
</plist>

