<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>cul</string>
	</array>
	<key>description</key>
	<string>CUL License for Camtasia</string>
	<key>display_name</key>
	<string>CamtasiaLicense</string>
	<key>installed_size</key>
	<integer>4</integer>
	<key>installer_item_hash</key>
	<string>a31702ef6716842062ffb7c493bc483e9ec6a473e066fcd8b5dd13415fefaed3</string>
	<key>installer_item_location</key>
	<string>cul/serialization/camtasia/CamtasiaLicense.dmg</string>
	<key>installer_item_size</key>
	<integer>16</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>CamtasiaLicense</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>md5checksum</key>
	    <string>ba176c0a12ac6b8789a6f66315082b21</string>
	    <key>path</key>
	    <string>/Users/Shared/TechSmith/Camtasia/Camtasia Registration Key</string>
	    <key>type</key>
	    <string>file</string>
	    </dict>
	  </array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>CamtasiaLicense.pkg</string>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>edu.columbia.camtasialicense.TechSmith.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
	<key>update_for</key>
	<array>
	  <string>Camtasia</string>
	</array>
</dict>
</plist>
