<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Apple</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Xcode</string>
	<key>installed_size</key>
	<integer>7219674</integer>
	<key>installer_item_hash</key>
	<string>2f5a4b187f318bfda3f99a69dbcc42fa0f4795438e554c1d9c7f16152843823c</string>
	<key>installer_item_location</key>
	<string>Apple/Xcode/4.0/Xcode4.dmg</string>
	<key>installer_item_size</key>
	<integer>3107175</integer>
	<key>minimum_os_version</key>
	<string>10.7.0</string>
	<key>name</key>
	<string>Xcode4</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.dt.Xcode</string>
	    <key>CFBundleName</key>
	    <string>Xcode</string>
	    <key>CFBundleShortVersionString</key>
	    <string>4.1</string>
	    <key>path</key>
	    <string>/Developer/Applications/Xcode.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  </array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>140758</integer>
			<key>packageid</key>
			<string>com.apple.pkg.ApplicationLoader</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>998</integer>
			<key>packageid</key>
			<string>com.apple.pkg.BluetoothSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>63618</integer>
			<key>packageid</key>
			<string>com.apple.pkg.clang</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>63618</integer>
			<key>packageid</key>
			<string>com.apple.pkg.clangROOT</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1654</integer>
			<key>packageid</key>
			<string>com.apple.pkg.CoreAudioSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.Dashcode</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>156454</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevDocumentation</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8869</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperDiskImage4_3</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>86650</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperDiskImageReleased</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>372898</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperTools</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>84622</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsCLI</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>84622</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsCLIROOT</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>382</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DeveloperToolsSystemSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2618</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevSamples</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>227118</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>231486</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DevToolsDocumentation</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1450</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DistributedBuildsSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DocDownloadOff</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.DocDownloadOn</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>162</integer>
			<key>packageid</key>
			<string>com.apple.pkg.FireWireSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>58814</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.2</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>58814</integer>
			<key>packageid</key>
			<string>com.apple.pkg.gcc4.2ROOT</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>22359</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneDocumentation</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>151313</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneHostSideTools</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>204685</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK3_0</string>
			<key>version</key>
			<string>3.0.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>226261</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK3_1</string>
			<key>version</key>
			<string>3.1.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>226270</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK3_1_2</string>
			<key>version</key>
			<string>3.1.2.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>226296</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK3_1_3</string>
			<key>version</key>
			<string>3.1.3.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>703837</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK3_2</string>
			<key>version</key>
			<string>3.2.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>847139</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK4_0</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>286213</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK4_1</string>
			<key>version</key>
			<string>4.1.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>323077</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK4_2</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>364505</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDK4_3</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>205</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDKSnowLeopardExtras</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>133743</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSDKTools</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>993780</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSimulatorSDK4_3</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>885</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSimulatorSDK4_3Patch1</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1310518497</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>10479</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSimulatorSDKTools</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14440</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoneSystemComponents</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>530</integer>
			<key>packageid</key>
			<string>com.apple.pkg.JavaSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>50766</integer>
			<key>packageid</key>
			<string>com.apple.pkg.llvm-gcc4.2</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>50766</integer>
			<key>packageid</key>
			<string>com.apple.pkg.llvm-gcc4.2ROOT</string>
			<key>version</key>
			<string>4.2.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>267158</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MacOSX10.6</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>197470</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MacOSX10.7</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6468</integer>
			<key>packageid</key>
			<string>com.apple.pkg.MobileDevice</string>
			<key>version</key>
			<string>4.3.0.9000000000.1.1206372128</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>650</integer>
			<key>packageid</key>
			<string>com.apple.pkg.NetworkLinkConditioner</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14506</integer>
			<key>packageid</key>
			<string>com.apple.pkg.OpenGLApps</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1210</integer>
			<key>packageid</key>
			<string>com.apple.pkg.OpenGLSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>674</integer>
			<key>packageid</key>
			<string>com.apple.pkg.OtherDevDocumentation</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>3150</integer>
			<key>packageid</key>
			<string>com.apple.pkg.QuickTimeSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.RelocatableScript</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9370</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SourceControl</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SystemScript</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.apple.pkg.SystemScriptNONONLY</string>
			<key>version</key>
			<string>1.0.0.9000000000</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>2442</integer>
			<key>packageid</key>
			<string>com.apple.pkg.VersionedDeveloperToolsSystemSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1002</integer>
			<key>packageid</key>
			<string>com.apple.pkg.WebKitSDK</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6986</integer>
			<key>packageid</key>
			<string>com.apple.pkg.X11Documentation</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>6986</integer>
			<key>packageid</key>
			<string>com.apple.pkg.X11DocumentationROOT</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8670</integer>
			<key>packageid</key>
			<string>com.apple.pkg.X11SDKForMacOSX</string>
			<key>version</key>
			<string>4.0.0.9000000000.1.1309742044</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>7590</integer>
			<key>packageid</key>
			<string>com.apple.pkg.XcodeEssentialsSystemSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>84342</integer>
			<key>packageid</key>
			<string>com.apple.pkg.XcodeiPhonePlugins</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>108590</integer>
			<key>packageid</key>
			<string>com.apple.pkg.XcodeTools</string>
			<key>version</key>
			<string>1.0.0.0.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>9098</integer>
			<key>packageid</key>
			<string>com.apple.pkg.XcodeUserSystemSupport</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>158</integer>
			<key>packageid</key>
			<string>com.apple.pkg.xcrun</string>
			<key>version</key>
			<string>1.0.0.9000000000.1.1249367152</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>4.0.0.9000000000</string>
	<key>blocking_applications</key>
	<array>
	  <string>iTunes</string>
	  <string>Safari</string>
	</array>
</dict>
</plist>
