<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Serializes Stata</string>
	<key>display_name</key>
	<string></string>
	<key>installed_size</key>
	<integer>12</integer>
	<key>installer_item_hash</key>
	<string>532b43203b16afd71f7d5f8a2d28f4379a1cf368d20a6b4442b78ed3f70d6e77</string>
	<key>installer_item_location</key>
	<string>cul/serialization/stata/Stata11Serialize.dmg</string>
	<key>installer_item_size</key>
	<integer>109</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>StataSerialize</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Stata11Serialize.pkg</string>
			<key>installed_size</key>
			<integer>12</integer>
			<key>packageid</key>
			<string>edu.columbia.Stata11Preferences.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
</dict>
</plist>
