<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Telestream</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>ScreenFlow 2.1.8</string>
	<key>installed_size</key>
	<integer>24112</integer>
	<key>installer_item_hash</key>
	<string>e0d3cc98f36629fac928ffcfb4c363cb11d229813aee23c3ae5e00997f7be35c</string>
	<key>installer_item_location</key>
	<string>Telestream/ScreenFlow/ScreenFlow 2.1.8.dmg</string>
	<key>installer_item_size</key>
	<integer>12153</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>ScreenFlow</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>24112</integer>
			<key>packageid</key>
			<string>edu.ccnmtl.columbia.edu.ScreenFlow.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.1.8</string>
</dict>
</plist>
