<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Adobe</string>
	</array>
	<key>description</key>
	<string>Adobe Flash Player</string>
	<key>display_name</key>
	<string>Adobe Flash Player</string>
	<key>installed_size</key>
	<integer>6176</integer>
	<key>installer_item_hash</key>
	<string>83dfe4ffdb4faeef2cd53e3985472e9404c1587abd015076db1151b64385eb27</string>
	<key>installer_item_location</key>
	<string>Adobe/Flash Player/10.3/Adobe Flash Player-10.3.183.15.dmg</string>
	<key>installer_item_size</key>
	<integer>5911</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Adobe Flash Player</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Adobe Flash Player-10.3.183.15.pkg</string>
			<key>installed_size</key>
			<integer>6176</integer>
			<key>packageid</key>
			<string>com.adobe.pkg.FlashPlayer</string>
			<key>version</key>
			<string>10.3.183.15</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>10.3.183.15</string>

	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>10.3.183.15</string>
			<key>path</key>
			<string>/Library/Internet Plug-Ins/Flash Player.plugin</string>
			<key>type</key>
			<string>bundle</string>
		</dict>
	</array>
</dict>
</plist>
