<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Xcode and iOS SDK</string>
	<key>installed_size</key>
	<integer>10664217</integer>
	<key>installer_item_hash</key>
	<string>e0160d4f347e5ce0a13ad1a7ef22952749cba52015c0e15b60eaef3bb1a82e22</string>
	<key>installer_item_location</key>
	<string>Apple/Xcode/4.3.0/xcode_3.2.6_and_ios_sdk_4.3.dmg</string>
	<key>installer_item_size</key>
	<integer>4339014</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Xcode</string>
	<key>receipts</key>
	<array/>
	<key>version</key>
	<string>4.3.0.9000000000</string>
</dict>
</plist>
