<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>blocking_applications</key>
	<array>
		<string>MSN Messenger</string>
		<string>Microsoft AutoUpdate</string>
		<string>Microsoft Cert Manager</string>
		<string>Microsoft Chart Converter</string>
		<string>Microsoft Clip Gallery</string>
		<string>Microsoft Entourage</string>
		<string>Microsoft Excel</string>
		<string>Microsoft Graph</string>
		<string>Microsoft Help Viewer</string>
		<string>Microsoft Language Register</string>
		<string>Microsoft Communicator</string>
		<string>Microsoft Messenger</string>
		<string>Microsoft PowerPoint</string>
		<string>Microsoft Query</string>
		<string>Microsoft Word</string>
		<string>My Day</string>
		<string>Organization Chart</string>
		<string>Expression Media</string>
		<string>Remote Desktop Connection</string>
		<string>Opera</string>
		<string>Google Chrome</string>
		<string>Firefox</string>
		<string>Safari</string>
	</array>
	<key>catalogs</key>
	<array/>
	<key>description</key>
	<string>• Update installation reliability is improved.
		This update fixes issues that cause the installation of previous Office for Mac 2011 updates to fail in the following situations: 
				• When the user's home directory contains a space.
				• When you deploy updates through Secure Shell (SSH).
				• When you install multiple updates at the same time.</string>
	<key>display_name</key>
	<string>Office 2011 14.1.4 Update</string>
	<key>installed_size</key>
	<integer>369048</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>quit</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>430faf60230bad44ffdbda94194ddbf59ae941bbaa8cccd4a36f23f8ddcc7963</string>
	<key>installer_item_location</key>
	<string>Microsoft/Office/2011/Patches/Office2011-1414UpdateEN.dmg</string>
	<key>installer_item_size</key>
	<integer>115272</integer>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleShortVersionString</key>
			<string>14.1.4</string>
			<key>path</key>
			<string>/Applications/Microsoft Office 2011/Office/MicrosoftComponentPlugin.framework/Resources/Info.plist</string>
			<key>type</key>
			<string>plist</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Office2011Update</string>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>14.1.4</string>
</dict>
</plist>
