<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>FileMaker</string>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>FileMaker Pro 11 Advanced</string>
	<key>installed_size</key>
	<integer>1291624</integer>
	<key>installer_item_hash</key>
	<string>00fd4d0d954992a4e09bf649e5657389775dd5a8663201f253619948075458ac</string>
	<key>installer_item_location</key>
	<string>FileMaker/FileMaker Pro Advanced/11.0/FileMaker Pro 11 Advanced.dmg</string>
	<key>installer_item_size</key>
	<integer>411154</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>FileMakerPro</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.filemaker.client.advanced</string>
	    <key>CFBundleName</key>
	    <string>FileMaker Pro Advanced</string>
	    <key>CFBundleShortVersionString</key>
	    <string>11.0.3</string>
	    <key>path</key>
	    <string>/Applications/FileMaker Pro 11 Advanced/FileMaker Pro Advanced.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>fmpa11Application.pkg</string>
			<key>installed_size</key>
			<integer>579880</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Application.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsaus.pkg</string>
			<key>installed_size</key>
			<integer>20</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsaus.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsdutch.pkg</string>
			<key>installed_size</key>
			<integer>16</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsdutch.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsfrench.pkg</string>
			<key>installed_size</key>
			<integer>16</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsfrench.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsgerman.pkg</string>
			<key>installed_size</key>
			<integer>20</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsgerman.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsitalian.pkg</string>
			<key>installed_size</key>
			<integer>16</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsitalian.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsjp.pkg</string>
			<key>installed_size</key>
			<integer>76</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsjp.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelssc.pkg</string>
			<key>installed_size</key>
			<integer>12</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelssc.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsspanish.pkg</string>
			<key>installed_size</key>
			<integer>16</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsspanish.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsswedish.pkg</string>
			<key>installed_size</key>
			<integer>20</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsswedish.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelstc.pkg</string>
			<key>installed_size</key>
			<integer>12</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelstc.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsuk.pkg</string>
			<key>installed_size</key>
			<integer>12</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsuk.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Labelsus.pkg</string>
			<key>installed_size</key>
			<integer>44</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.fmpa11Labelsus.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11Dictionaries.pkg</string>
			<key>installed_size</key>
			<integer>10844</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.dictionaries.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11WebPublishing.pkg</string>
			<key>installed_size</key>
			<integer>92796</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.webPublishing.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11DutchLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>58564</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.dutchLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11EnglishLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>64600</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.englishLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11FrenchLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>59792</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.frenchLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11GermanLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>58296</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.germanLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11ItalianLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>57684</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.italianLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11JapaneseLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>65972</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.japaneseLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11SChineseLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>63772</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.sChineseLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11SpanishLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>58668</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.spanishLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11SwedishLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>55704</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.swedishLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>fmpa11TChineseLanguagePack.pkg</string>
			<key>installed_size</key>
			<integer>64772</integer>
			<key>packageid</key>
			<string>com.filemaker.filemakerPro11Advanced.tChineseLanguagePack.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.0.3.312</string>
</dict>
</plist>
