<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Installs the main SilverFast EpsonIT8 application and SF Launcher. SilverFast Version 6.6.1r2b - English Installer 20091028</string>
	<key>display_name</key>
	<string>SilverFast (EpsonIT8)</string>
	<key>installed_size</key>
	<integer>66412</integer>
	<key>installer_item_hash</key>
	<string>6e1b474e29250ec92da7b509355910cb0b3a176efc37f367bae9ce738e19ddcf</string>
	<key>installer_item_location</key>
	<string>LaserSoft Imaging/SilverFast/6.6.1/SFen-6.6.1r2b(EpsonIT8).dmg</string>
	<key>installer_item_size</key>
	<integer>29527</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Silverfast</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Photoshop-Integration.pkg</string>
			<key>installed_size</key>
			<integer>0</integer>
			<key>packageid</key>
			<string>com.lasersoft.psshortcuts</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>SFen-6.6.1r2b(EpsonIT8).pkg</string>
			<key>installed_size</key>
			<integer>66984</integer>
			<key>packageid</key>
			<string>com.lasersoftImaging.EpsonIT8.installer</string>
			<key>version</key>
			<string>6.6</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>6.6.1</string>
</dict>
</plist>
