<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array/>
	<key>description</key>
	<string>Firefox for CUL with LibX built in</string>
	<key>display_name</key>
	<string>Firefox</string>
	<key>installer_item_hash</key>
	<string>88b8a511929f433dc8f600db1c6e75acfd6b98b230f0f635fe0c7fd13612e5a7</string>
	<key>installer_item_location</key>
	<string>Mozilla/Firefox/ESR/Firefox10-esr.dmg</string>
	<key>installer_item_size</key>
	<integer>37610</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.mozilla.firefox</string>
			<key>CFBundleName</key>
			<string>Firefox</string>
			<key>CFBundleShortVersionString</key>
			<string>10.0.3</string>
			<key>minosversion</key>
			<string>10.5</string>
			<key>path</key>
			<string>/Applications/Firefox.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>Firefox.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>FirefoxESR</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
		override="/Applications/Firefox.app/Contents/MacOS/override.ini"
		touch -f $override
		echo "[XRE]
		EnableProfileMigrator=false" &gt; $override
	
		exit 0</string>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>10</string>
</dict>
</plist>
