<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Blender</string>
	</array>
	<key>description</key>
	<string>free, open source 3D application for modeling, animation, rendering, compositing, video editing and game creation</string>
	<key>display_name</key>
	<string>blender</string>
	<key>installed_size</key>
	<integer>67240</integer>
	<key>installer_item_hash</key>
	<string>44f058c3700a2387248f8bb28f177fa824ab503cf6c61f5a05af2d0a22185a57</string>
	<key>installer_item_location</key>
	<string>Blender Foundation/Blender/2.57/blender.dmg</string>
	<key>installer_item_size</key>
	<integer>21098</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>blender</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>blender.pkg</string>
			<key>installed_size</key>
			<integer>67240</integer>
			<key>packageid</key>
			<string>edu.columbia.blender.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2.57</string>
</dict>
</plist>
