<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Apple</string>
	</array>
	<key>description</key>
	<string>Apple provided software to create books for the iBooks Store</string>
	<key>display_name</key>
	<string>iBooks Author</string>
	<key>installer_item_hash</key>
	<string>371a2485741a8305c1cddb50e9e2f3d3e2ed16d55bc5bbd03bb49cf5ad514ef6</string>
	<key>installer_item_location</key>
	<string>Apple/iBooks Author/1.1/iBooks_Author.dmg</string>
	<key>installer_item_size</key>
	<integer>197739</integer>
	<key>installer_type</key>
	<string>copy_from_dmg</string>
	<key>installs</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.iBooksAuthor</string>
			<key>CFBundleName</key>
			<string>iBooks Author</string>
			<key>CFBundleShortVersionString</key>
			<string>1.1</string>
			<key>minosversion</key>
			<string>10.7.2</string>
			<key>path</key>
			<string>/Applications/iBooks Author.app</string>
			<key>type</key>
			<string>application</string>
		</dict>
	</array>
	<key>items_to_copy</key>
	<array>
		<dict>
			<key>destination_path</key>
			<string>/Applications</string>
			<key>source_item</key>
			<string>iBooks Author.app</string>
		</dict>
	</array>
	<key>minimum_os_version</key>
	<string>10.7.2</string>
	<key>name</key>
	<string>iBooks Author</string>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstall_method</key>
	<string>remove_copied_items</string>
	<key>uninstallable</key>
	<true/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>1.1</string>
</dict>
</plist>
