<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>Apple</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>iLife ’11</string>
	<key>installed_size</key>
	<integer>4121484</integer>
	<key>installer_item_hash</key>
	<string>05225257714fd409f446f9fb4ef6b0aee4c9a77a0dae128ae596dc4b14a299fa</string>
	<key>installer_item_location</key>
	<string>Apple/iLife/11/iLife11.dmg</string>
	<key>installer_item_size</key>
	<integer>3051649</integer>
	<key>minimum_os_version</key>
	<string>10.6.0</string>
	<key>name</key>
	<string>iLife</string>
	<key>package_path</key>
	<string>Installer/Packages/iLife.pkg</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.garageband</string>
	    <key>CFBundleName</key>
	    <string>GarageBand</string>
	    <key>CFBundleShortVersionString</key>
	    <string>6.0</string>
	    <key>path</key>
	    <string>/Applications/GarageBand.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.iDVD</string>
	    <key>CFBundleName</key>
	    <string>iDVD</string>
	    <key>CFBundleShortVersionString</key>
	    <string>7.1</string>
	    <key>path</key>
	    <string>/Applications/iDVD.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.iPhoto</string>
	    <key>CFBundleName</key>
	    <string>iPhoto</string>
	    <key>CFBundleShortVersionString</key>
	    <string>9.0</string>
	    <key>path</key>
	    <string>/Applications/iPhoto.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.iMovieApp</string>
	    <key>CFBundleName</key>
	    <string>iMovie</string>
	    <key>CFBundleShortVersionString</key>
	    <string>9.0</string>
	    <key>path</key>
	    <string>/Applications/iMovie.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.apple.iMovieApp</string>
	    <key>CFBundleName</key>
	    <string>iMovie</string>
	    <key>CFBundleShortVersionString</key>
	    <string>9.0</string>
	    <key>path</key>
	    <string>/Applications/iMovie.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>246630</integer>
			<key>packageid</key>
			<string>com.apple.pkg.GarageBand</string>
			<key>version</key>
			<string>6.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>353934</integer>
			<key>packageid</key>
			<string>com.apple.pkg.GarageBand_Instruments</string>
			<key>version</key>
			<string>6.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>98611</integer>
			<key>packageid</key>
			<string>com.apple.pkg.GarageBand_Loops</string>
			<key>version</key>
			<string>6.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>625983</integer>
			<key>packageid</key>
			<string>com.apple.pkg.GarageBand_LTPContent</string>
			<key>version</key>
			<string>6.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>443654</integer>
			<key>packageid</key>
			<string>com.apple.pkg.GarageBand_MagicContent</string>
			<key>version</key>
			<string>6.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>13443</integer>
			<key>packageid</key>
			<string>com.apple.pkg.GarageBandFactoryContent</string>
			<key>version</key>
			<string>6.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>267648</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iDVD</string>
			<key>version</key>
			<string>7.1.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>1492</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeAudioAnalysis</string>
			<key>version</key>
			<string>11.1.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>238</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeCookie</string>
			<key>version</key>
			<string>11.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4220</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeFaceRecognition</string>
			<key>version</key>
			<string>1.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>8490</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeMediaBrowser</string>
			<key>version</key>
			<string>2.5.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>110</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeRegistration</string>
			<key>version</key>
			<string>11.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>110</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeRegistrationPost</string>
			<key>version</key>
			<string>11.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>123786</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeSlideshow_v2</string>
			<key>version</key>
			<string>2.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>266756</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iLifeSoundEffects_Loops</string>
			<key>version</key>
			<string>2.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>388092</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iMovie</string>
			<key>version</key>
			<string>9.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>113</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iMovie_PreviousFolder</string>
			<key>version</key>
			<string>9.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>458199</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhoto</string>
			<key>version</key>
			<string>9.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>390756</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhotoContent</string>
			<key>version</key>
			<string>9.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>213114</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iWeb</string>
			<key>version</key>
			<string>3.0.2.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>424</integer>
			<key>packageid</key>
			<string>com.apple.pkg.AppleIntermediateCodec</string>
			<key>version</key>
			<string>1.3.1.1.1249343429</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>24649</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iPhotoLibraryUpgradeTool</string>
			<key>version</key>
			<string>1.0.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>327868</integer>
			<key>packageid</key>
			<string>com.apple.pkg.iWeb</string>
			<key>version</key>
			<string>3.0.2.1.1203730862</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>61457</integer>
			<key>packageid</key>
			<string>com.apple.pkg.ProAppRuntimeFlat</string>
			<key>version</key>
			<string>6.0.1.1194400900</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>14821</integer>
			<key>packageid</key>
			<string>com.apple.pkg.RAWCameraUpdate3</string>
			<key>version</key>
			<string>3.2.1.1263389684</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>11.1.1.1203730862</string>
</dict>
</plist>

