<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>Cycling74</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Soundflower</string>
	<key>installed_size</key>
	<integer>572</integer>
	<key>installer_item_hash</key>
	<string>2360200bd80f29952e811808639b8becb1e9cb8dd381d2af8c73b857dc41fcab</string>
	<key>installer_item_location</key>
	<string>Cycling74/SoundFlower/1.5.2/Soundflower-1.5.2.dmg</string>
	<key>installer_item_size</key>
	<integer>216</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Soundflower</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.cycling74.Soundflowerbed</string>
	    <key>CFBundleShortVersionString</key>
	    <string>1.0</string>
	    <key>path</key>
	    <string>/Applications/Soundflower/Soundflowerbed.app</string>
	    <key>type</key>
	    <string>application</string>
	  </dict>
	</array>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>20</integer>
			<key>packageid</key>
			<string>com.cycling74.soundflower.License.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.cycling74.soundflower.ReadMe.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>224</integer>
			<key>packageid</key>
			<string>com.cycling74.soundflower.pkg</string>
			<key>version</key>
			<string>1</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>316</integer>
			<key>packageid</key>
			<string>com.cycling74.soundflower.Soundflowerbed.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.cycling74.soundflower.SoundflowerbedREADME.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
		<dict>
			<key>installed_size</key>
			<integer>4</integer>
			<key>packageid</key>
			<string>com.cycling74.soundflower.UninstallSoundflower.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.5.2</string>
	<key>postinstall_script</key>
	<string>#!/bin/bash
	  chmod -R 755 /Applications/Soundflower
	</string>
</dict>
</plist>
