<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>MacGAMUT License</string>
	<key>installed_size</key>
	<integer>16</integer>
	<key>installer_item_hash</key>
	<string>ff7535d259e01987595dfebe99abe082b75a7f6708f26816581d710656c68fc0</string>
	<key>installer_item_location</key>
	<string>cul/serialization/macgamut/MacGAMUT License.dmg</string>
	<key>installer_item_size</key>
	<integer>21</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>MacGAMUT License</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>MacGAMUT License.pkg</string>
			<key>installed_size</key>
			<integer>16</integer>
			<key>packageid</key>
			<string>edu.columbia.macgamutLicense.startMG6.pkg</string>
			<key>version</key>
			<string>1.0</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.0</string>
	<key>update_for</key>
	<array>
	  <string>MacGAMUT</string>
	</array>
	<key>postinstall_script</key>
	<string>#!/bin/bash
	  chmod 666 "/Applications/MacGAMUT 6/startMG6.mgs"
	</string>
</dict>
</plist>
