<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RestartAction</key>
	<string>None</string>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Xcode</string>
	<key>display_name</key>
	<string>Xcode 3.2.6</string>
	<key>installed_size</key>
	<integer>10664217</integer>
	<key>installer_choices_xml</key>
	<array>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDKMeta</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK4_2</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK4_1</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK4_0</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK3_2</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK3_1_3</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK3_1_2</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK3_1</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSDK3_0</string>
		</dict>
		<dict>
			<key>attributeSetting</key>
			<integer>0</integer>
			<key>choiceAttribute</key>
			<string>selected</string>
			<key>choiceIdentifier</key>
			<string>iPhoneSystemComponentsHIDDEN</string>
		</dict>
	</array>
	<key>installer_item_hash</key>
	<string>26c46a61b13a9e873aee07888617dd65497e19565bb6b6f7af77a78bb619cfbb</string>
	<key>installer_item_location</key>
	<string>Apple/Xcode/3.2.6/xcode_3.2.6_and_ios_sdk_4.3.dmg</string>
	<key>installer_item_size</key>
	<integer>4339014</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Xcode</string>
	<key>requires</key>
	<array/>
	<key>suppress_bundle_relocation</key>
	<false/>
	<key>unattend_uninstall</key>
	<false/>
	<key>unattended_install</key>
	<false/>
	<key>uninstallable</key>
	<false/>
	<key>update_for</key>
	<array/>
	<key>version</key>
	<string>3.2.6</string>
</dict>
</plist>
