<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
		<string>MakeMusic</string>
	</array>
	<key>description</key>
	<string></string>
	<key>display_name</key>
	<string>Finale 2010</string>
	<key>installed_size</key>
	<integer>676672</integer>
	<key>installer_item_hash</key>
	<string>08db57aa9a4115855299bdc346b384ab348820f350218bbca16b9c3b7e4ede74</string>
	<key>installer_item_location</key>
	<string>MakeMusic/Finale/2010/Finale 2010.dmg</string>
	<key>installer_item_size</key>
	<integer>315559</integer>
	<key>minimum_os_version</key>
	<string>10.4.0</string>
	<key>name</key>
	<string>Finale2010</string>
	<key>installs</key>
	<array>
	  <dict>
	    <key>CFBundleIdentifier</key>
	    <string>com.makemusic.Finale</string>
	    <key>CFBundleName</key>
	    <string>Finale 2010</string>
	    <key>CFBundleShortVersionString</key>
	    <string>15.0a.r2</string>
	    <key>path</key>
	    <string>/Applications/Finale 2010/Finale 2010.app</string>
	    <key>type</key>
	    <string>application</string>
	    </dict>
	  </array>
	<key>receipts</key>
	<array>
		<dict>
			<key>filename</key>
			<string>Fin2010Application.pkg</string>
			<key>installed_size</key>
			<integer>196136</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010Application.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010BackManu.pkg</string>
			<key>installed_size</key>
			<integer>10076</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010BackgroundsandManuscriptTextures.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010ComponentFiles.pkg</string>
			<key>installed_size</key>
			<integer>41056</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010ComponentFiles.pkg</string>
			<key>version</key>
			<string>15.1.r2.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010DocStyleTemplLib.pkg</string>
			<key>installed_size</key>
			<integer>7216</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010DocumentStyles,Templates,Libraries.pkg</string>
			<key>version</key>
			<string>15.1.r2.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010DocuSample.pkg</string>
			<key>installed_size</key>
			<integer>194972</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010Documentation.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010Exercises.pkg</string>
			<key>installed_size</key>
			<integer>12912</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010Exercises.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010FAN.pkg</string>
			<key>installed_size</key>
			<integer>280</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010FontAnnotations.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010MIDIDevices.pkg</string>
			<key>installed_size</key>
			<integer>44</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010MIDIDevicesupportforpercussion..pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010PlugIns.pkg</string>
			<key>installed_size</key>
			<integer>151748</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010Plug-Ins.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>Fin2010Spotlight.pkg</string>
			<key>installed_size</key>
			<integer>58032</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.Finale2010Spotlight.pkg</string>
			<key>version</key>
			<string>15.1.r2.0</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Broadway Copyist Fonts (PostScript).pkg</string>
			<key>installed_size</key>
			<integer>316</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.BroadwayCopyistFonts(PostScript).pkg</string>
			<key>version</key>
			<string>4.0.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Broadway Copyist Fonts (TrueType).pkg</string>
			<key>installed_size</key>
			<integer>176</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.BroadwayCopyistFonts(TrueType).pkg</string>
			<key>version</key>
			<string>4.0.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Engraver Font (PostScript).pkg</string>
			<key>installed_size</key>
			<integer>480</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.EngraverFont(PostScript).pkg</string>
			<key>version</key>
			<string>3.1.11</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Engraver Font (TrueType).pkg</string>
			<key>installed_size</key>
			<integer>420</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.EngraverFontFamily(TrueType).pkg</string>
			<key>version</key>
			<string>3.1.11</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic JazzFont (PostScript).pkg</string>
			<key>installed_size</key>
			<integer>668</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.JazzFont(PostScript).pkg</string>
			<key>version</key>
			<string>3.1.11</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic JazzFont (TrueType).pkg</string>
			<key>installed_size</key>
			<integer>568</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.JazzFontFamily(TrueType).pkg</string>
			<key>version</key>
			<string>3.1.11</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Legacy Fonts (PostScript).pkg</string>
			<key>installed_size</key>
			<integer>352</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.LegacyFonts(PostScript).pkg</string>
			<key>version</key>
			<string>3.1.11</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Legacy Music Fonts (TrueType).pkg</string>
			<key>installed_size</key>
			<integer>200</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.LegacyMusicFonts(TrueType).pkg</string>
			<key>version</key>
			<string>3.1.11</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Maestro Font (PostScript).pkg</string>
			<key>installed_size</key>
			<integer>772</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.MaestroFontFamily(PostScript).pkg</string>
			<key>version</key>
			<string>4.0.1</string>
		</dict>
		<dict>
			<key>filename</key>
			<string>MakeMusic Maestro Font (TrueType).pkg</string>
			<key>installed_size</key>
			<integer>248</integer>
			<key>packageid</key>
			<string>edu.columbia.finale2010.MaestroFontFamily(TrueType).pkg</string>
			<key>version</key>
			<string>4.0.1</string>
		</dict>
	</array>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>2010</string>
	<key>requires</key>
	<array>
	  <string>FinaleLicense</string>
	</array>
</dict>
</plist>
